ul.room-details-gallery {
  scroll-snap-type: x mandatory;
 	-webkit-overflow-scrolling: touch;

	/* Chrome, Safari */
	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	/* Firefox */
	scrollbar-width: none;

	li {
		flex: 0 0 80%;
		list-style-type: none;
		scroll-snap-align: center;
		object-fit: cover;
	}
}
